.header_container {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  justify-content: space-between;
}

.header_logo_text {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Righteous', cursive;
  cursor: pointer;
}
.header_btn{
  margin: 9px 6px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

